body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(206, 206, 206);
	min-height: 100vh;
}

div {
	background-color: rgb(255, 212, 162);
	border: 1px solid #ddd;
	margin: 20px auto;
	padding: 20px;
	width: 400px;
	text-align: center;
	border-radius: 25px;
}

h1 {
	font-size: 1.7rem;
}

a {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p {
	font-size: 1rem;
	font-style: italic;
}

img {
	background-color: rgb(255, 212, 162);
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 20px;
	width: 45%;
	border-radius: 25px;
}

button {
	background-color: rgb(206, 171, 130);
	border: none;
	color: rgb(0, 0, 0);
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	height: 30px;
	border-radius: 25px;
	font-weight: bold;

	transition: all 0.2s ease;
}

button:hover {
	background-color: rgb(151, 127, 99);
	color: rgb(255, 255, 255);
}

input {
	background-color: rgb(236, 196, 151);
	border-radius: 25px;
}

input:hover {
	background-color: rgb(151, 127, 99);
	color: rgb(255, 255, 255);
}
